header {
    background-color: var(--amarillo);
    padding: 20px;
    margin-bottom: 20px;
    font-size: var(--cuerpo-de-texto);
}

.logo{
    display: flex;
    align-items: center;
    width: 50%;
}

header .logo,
header .searchBar {
    /* En este caso compartimo elementos que usan lo mismo */
    margin: 0 20px;
    display: block;
    align-items: center;

}

header .logo img {
    width: 200px;
    margin-right: 10px;
}

header .searchBar i {
    padding: 1px;
    background-color: white;
    border: 1px solid var(--grisOscuro);
    border-radius: 4px;
}

header p {
    margin: 20px 0;
    text-align: center;
}

header .links .headerListTop,
.headerListTop2 {
    display: none;
}

header .links ul {
    margin: 0 0 20px;
}

header .links ul i {
    margin: 0 3px;
}

header .burger {
    text-align: center;
    
}

header .burger i {
    background-color: var(--celeste);
    color: white;
    padding: 15px 0;
    max-width: 50px;
    border-radius: 8px;
    /* font-size: 25px; */
    border-radius: 8;
    display: block;
    font-size: var(--titulares);
    text-align: center;
    margin: 0 auto;
}


/* Tablet */

@media (min-width:461px) {
    header .links .headerListTop,
    .headerListTop2 {
        display: block;
    }
    header .burger {
        display: none;
    }
}


/* Desktop */

@media (min-width:769px) {}