header{
    background-color: var(--amarillo);
    padding: 20px 0;
}

header .logo,header .searchBar{/* En este caso compartimo elementos que usan lo mismo */
    margin: 0 20px;
}

header .logo img{
    width: 45%;
}

header .searchBar i{
    padding:1px;
    background-color: white;
    border: 1px solid var(--grisOscuro);
    border-radius: 4px;
}

header p{
    margin: 20px 0;
    text-align: center;
}

header .links ul{
    margin: 0 0 20px;
}

header .burger{
    text-align: center;
    
}

header .burger i{
    background-color: var(--celeste);
    color: white;
    padding: 10px;
    border-radius: 7px;
}