main {
    width: 90%;
    margin: 0 auto;
}

main .banner {
    display: none;
}

main section {
    padding: 20px 0;
}

main section h2 {
    font-size: var(--titulares);
    color: var(--grisOscuro)
}

main section article {
    margin: 10px 0;
}

main section article img {
    width: 100%;
}

main section article .contenedor {
    background-color: white;
}

main section article .camion,
main section article .descuento {
    color: var(--verde)
}

main section article .precio {
    font-size: var(--precios);
}

main section article .descuento {
    font-size: var(--descuentosYdescripciones);
}

main section article h4 {
    color: var(--grisOscuro);
    font-size: var(--descuentosYdescripciones);
}